* {
    box-sizing: border-box;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	user-select: none;
	background-color: #fff;
}

.container {
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.text-center {
	text-align: center;
}

.card {
	width: 60%;
	padding: 12px;
	box-sizing: border-box;
	margin: 0px auto;
	border: 1px solid #DDD;
	box-shadow: 4px 4px 12px 0px rgba(0,0,0,.14);
}

.group {
	display: flex;
	justify-content: space-between;
	margin-bottom: 16px;
}

.group input {
	flex-basis: 46%;
	border: none;
	outline: none;
	border-bottom: 2px solid #808080;
	padding: 8px 6px;
	box-sizing: border-box;
	font-size: 110%;
}

.error {
	text-align: center;
	padding: 10px 0px;
	color: red;
}

#result {
	display: flex;
	margin: 20px 0px;
	text-align: center;
}

#result div {
	flex: 1;
	font-size: 180%;
}

.btn-container {

}

a {
	text-decoration: none;
}

.btn-container #btn {
	width: 100%;
	background-color: #009688;
}

.btn-container #btn:hover {
	background-color: #00796b;
}

#stop {
	background-color: #ef5350;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	display: flex;
	opacity: 0;
}

#stop p {
	margin: auto;
	color: #fff;
	font-size: 130%;
}

/* control button styling */
.btn-control {
	display: flex;
	justify-content: space-between;
}

.btn-control button {
	width: 25%;
}

.btn {
	cursor: pointer;
	border: none;
	outline: none;
	padding: 10px 0px;
	font-size: 120%;
	color: #fff;
}

.btn-red {
	background-color: #ef5350;
}

.btn-green {
	background-color: #009688;
}

.btn-yellow {
	background-color: #ffc107;
}